<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/FakeHelloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" 
				contract="ABBServiceReference.IService"
                name="BasicHttpBinding_IService" />
			
            <endpoint address="net.tcp://localhost:5010/FakeHelloService" binding="netTcpBinding" 
				bindingConfiguration="NetTcpBinding_IService"
                contract="ABBServiceReference.IService" 
				name="NetTcpBinding_IService">

				<!--<identity>
                    <userPrincipalName value="DESKTOP-RB5EAJ4\marci" />
                </identity>-->
			</endpoint>

			<endpoint address="http://localhost:5000/FakeHelloService" binding="basicHttpBinding"			
			    contract="IServices.IServiceAsync"
			    name="BasicHttpBinding_IServiceAsync" />

			
		</client>
    </system.serviceModel>

	
	<appSettings>
		<add key="HelloServiceUrl" value="http://localhost:5000/FakeHelloService" />
	</appSettings>
	
</configuration>